/* GLOBAL STYLES */
body {
    background-color: #F5F5F5;
}
h2 {
    color: #009258;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
}
.code {
    background-color: #f5f2f0;
    border-radius: 3px;
    padding: 5px !important;
    text-align: left;
    border: 2px solid #009258;
    display: block;
    margin: 20px auto !important;
}
.code code {
  position: relative;
  top: -10px;
}
.code-output {
    background-color: #ffffff;
    border-radius: 3px;
    padding: 5px;
    text-align: left;
    display: block;
    margin: 20px auto;
}
.container p {
    margin: 20px 10% 0;
    text-align: left;
}

/* NAVIGATION */
.navigation {
    list-style: none;
}
.navigation li {
    display: inline-block;
    margin: 5px 10px 0;
}
.navigation li a {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
}

/* HEADER STYLES */
.header {
    height: 200px;
    background-color: #009258;
    border-top: 2px solid #F5F5F5;
}
.header h1 {
    font-family: "Asap", Arial, sans-serif;
    text-align: center;
    color: #ffffff;
    margin-top: 60px;
    font-size: 3em;
}
.header h1 small {
    color: #e8e8e8;
    margin-top: 10px;
    font-size: 0.4em;
    display: block;
}
.header .container {
    height: 100%;
}
.header .dropdown {
    margin-top: 10px;
}
@media (min-width: 1000px) {
    .header .container {
        background: url(../images/casperjs-logo.png) no-repeat 100px 40px;
        background-size: 140px;
    }
}

/* INSTALL SECTION */
.install-directions {
    margin-top: 40px;
    min-width: 300px;
    text-align: center;
}
.install-directions pre {
    max-width: 400px;
}
.install-directions a.more {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}
.install-directions .twitter-mention-button {
    display: block;
    margin: 20px auto 20px;
}
.install-directions .cool-facts {
    margin-top: 10px;
}
.install-directions .cool-fact {
    margin: 10px;
}

/* NAVIGATION SECTION */
.navigation-section pre {
    max-width: 600px;
}
.navigation-section .code-output {
    max-width: 600px;
}

/* TESTING SECTION */
.testing-section pre {
    max-width: 600px;
}
.testing-section .code-output {
    max-width: 600px;
}

/* SCRAPING SECTION */
.scraping-section pre {
    max-width: 600px;
}
.scraping-section .code-output {
    max-width: 600px;
}

/* SUPPORT DEVELOPMENT */
.development-section form {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* FOOTER */
.footer {
    background-color: #dadada;
    border-top: 1px solid #a7a7a7;
    min-height: 80px;
    padding-bottom: 20px;
}
