{
  "rules": {
    "complexity": [1, 7],
    "max-depth": [1, 3],
    "max-params": [2, 5],
    "eqeqeq": 2,
    "max-statements": [1, 15],
    "no-eval": 1,
    "func-names": 0,
    "no-alert": 0,
    "no-console": 0,
    "no-debugger": 2,
    "no-proto": 1,
    "quotes": [0, "single"],
    "semi": 2,
    "dot-notation": 1,
    "no-undef": 2,

    "block-scoped-var": 0,
    "brace-style": [1, "1tbs"],
    "camelcase": 0,
    "comma-spacing": [1, {"before": false, "after": true}],
    "comma-style": [1, "last"],
    "consistent-return": 1,
    "consistent-this": [1, "self"],
    "curly": 1,
    "default-case": 1,
    "eol-last": 1,
    "func-style": [1, "expression"],
    "guard-for-in": 1,
    "handle-callback-err": 1,
    "key-spacing": 1,
    "max-len": [1, 110, 4],
    "max-nested-callbacks": [1, 1],
    "new-cap": 1,
    "new-parens": 1,
    "no-array-constructor": 1,
    "no-bitwise": 0,
    "no-caller": 1,
    "no-catch-shadow": 1,
    "comma-dangle": 0,
    "no-cond-assign": 1,
    "no-constant-condition": 1,
    "no-control-regex": 1,
    "no-delete-var": 1,
    "no-div-regex": 0,
    "no-dupe-keys": 1,
    "no-else-return": 0,
    "no-empty": 1,
    "no-empty-character-class": 1,
    "no-labels": 1,
    "no-eq-null": 1,
    "no-ex-assign": 1,
    "no-extend-native": 1,
    "no-extra-bind": 1,
    "no-extra-boolean-cast": 1,
    "no-extra-parens": 1,
    "no-extra-semi": 1,
    "no-fallthrough": 1,
    "no-floating-decimal": 0,
    "no-func-assign": 1,
    "no-implied-eval": 1,
    "no-inline-comments": 0,
    "no-inner-declarations": 1,
    "no-invalid-regexp": 1,
    "no-iterator": 1,
    "no-label-var": 1,
    "no-lone-blocks": 1,
    "no-lonely-if": 1,
    "no-loop-func": 1,
    "no-mixed-requires": [1, true],
    "no-mixed-spaces-and-tabs": 1,
    "no-multi-spaces": 1,
    "no-multi-str": 1,
    "no-multiple-empty-lines": 1,
    "no-native-reassign": 1,
    "no-negated-in-lhs": 1,
    "no-nested-ternary": 1,
    "no-new": 1,
    "no-new-func": 1,
    "no-new-object": 1,
    "no-new-require": 1,
    "no-new-wrappers": 1,
    "no-obj-calls": 1,
    "no-octal": 1,
    "no-octal-escape": 1,
    "no-path-concat": 1,
    "no-plusplus": 0,
    "no-process-env": 1,
    "no-process-exit": 1,
    "no-redeclare": 1,
    "no-regex-spaces": 1,
    "no-restricted-modules": 0,
    "no-return-assign": 1,
    "no-script-url": 1,
    "no-self-compare": 0,
    "no-sequences": 1,
    "no-shadow": 1,
    "no-shadow-restricted-names": 1,
    "no-spaced-func": 1,
    "no-sparse-arrays": 1,
    "no-sync": 0,
    "no-ternary": 0,
    "no-trailing-spaces": 1,
    "no-undef-init": 1,
    "no-undefined": 1,
    "no-underscore-dangle": 0,
    "no-unreachable": 1,
    "no-unused-expressions": 1,
    "no-unused-vars": [1, "local"],
    "no-use-before-define": 1,
    "no-void": 1,
    "no-warning-comments": 1,
    "no-with": 1,
    "one-var": 0,
    "operator-assignment": [1, "always"],
    "quote-props": [1, "as-needed", { "keywords": true }],
    "radix": 1,
    "semi-spacing": 1,
    "sort-vars": 0,
    "array-bracket-spacing": 0,
    "computed-property-spacing": 0,
    "space-in-parens": [1, "never"],
    "space-infix-ops": 1,
    "keyword-spacing": 1,
    "space-unary-ops": 1,
    "spaced-comment": [2, "always", {
      "markers": ["!", "eslint", "global"]
    }],
    "strict": [1, "function"],
    "use-isnan": 1,
    "valid-jsdoc": 0,
    "valid-typeof": 1,
    "vars-on-top": 0,
    "wrap-iife": [1, "inside"],
    "wrap-regex": 0,
    "yoda": [1, "never"]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "phantom": false,
    "casper": true,
    "require": true,
    "patchRequire": true,
    "CasperError": true,
    "slimer": false,
    "__utils__": true
  }
}
