<section id="casper">
    <div class="page-header">
        <h1>
            <span class="section-title">Api documentation</span>
        </h1>
    </div>
    <div class="row">
        <div class="span9 api-content"></div>
        <div class="span3 apitoc ">
            <div class="wrapper api-toc"></div>
        </div>
    </div>
</section>

<section id="client-utils">
    <div class="page-header">
        <h1>
            <span class="section-title">Client-side utils</span>
        </h1>
    </div>
    <div class="row">
        <div class="span9 client-utils-content"></div>
        <div class="span3 apitoc ">
            <div class="wrapper client-utils-toc"></div>
        </div>
    </div>
</section>

<section id="colorizer">
    <div class="page-header">
        <h1>
            <span class="section-title">Colorizer</span>
        </h1>
    </div>
    <div class="row">
        <div class="span9 colorizer-content"></div>
        <div class="span3 apitoc ">
            <div class="wrapper colorizer-toc"></div>
        </div>
    </div>
</section>

<section id="tester">
    <div class="page-header">
        <h1>
            <span class="section-title">Tester</span>
        </h1>
    </div>
    <div class="row">
        <div class="span9 tester-content"></div>
        <div class="span3 apitoc ">
            <div class="wrapper tester-toc"></div>
        </div>
    </div>
</section>
