<section id="intro">
    <div class="page-header">
        <h1>
            <span class="section-title">Api documentation</span>
        </h1>
    </div>
    <div class="section-content">
        <p>
            This page details the APIs of the following CasperJS classes &amp;
            modules, as well as their usage:
        </p>
        <div class="subnav">
            <ul class="nav nav-pills">
                <li><a href="api.html#casper">The Casper class</a></li>
                <li><a href="api.html#client-utils">The client-side utils</a></li>
                <li><a href="api.html#colorizer">The Colorizer API</a></li>
                <li><a href="api.html#tester">The Tester API</a></li>
            </ul>
        </div>
    </div>
</section>

<section id="casper">
    <div class="page-header">
        <h1>
            <span class="section-title">The Casper class</span>
        </h1>
    </div>
    <div class="row">
        <div class="span9 api-content"></div>
        <div class="span3 apitoc ">
            <div class="wrapper api-toc"></div>
        </div>
    </div>
</section>

<section id="client-utils">
    <div class="page-header">
        <h1>
            <span class="section-title">Client-side utils</span>
        </h1>
    </div>
    <div class="row">
        <div class="span9 client-utils-content"></div>
        <div class="span3 apitoc ">
            <div class="wrapper client-utils-toc"></div>
        </div>
    </div>
</section>

<section id="colorizer">
    <div class="page-header">
        <h1>
            <span class="section-title">Colorizer</span>
        </h1>
    </div>
    <div class="row">
        <div class="span9 colorizer-content"></div>
        <div class="span3 apitoc ">
            <div class="wrapper colorizer-toc"></div>
        </div>
    </div>
</section>

<section id="tester">
    <div class="page-header">
        <h1>
            <span class="section-title">Tester</span>
        </h1>
    </div>
    <div class="row">
        <div class="span9 tester-content"></div>
        <div class="span3 apitoc ">
            <div class="wrapper tester-toc"></div>
        </div>
    </div>
</section>
