<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="http://casperjs.org/">
    <title>{{title}} | CasperJS {{version}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{description}}">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic&amp;subset=latin,latin-ext">
    <link rel="stylesheet" href="prettify/prettify.css?{{time}}">
    <link rel="stylesheet" href="css/casper.css?{{time}}">
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
    <a href="http://github.com/n1k0/casperjs" class="contribute">
        <img src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub">
    </a>
    <div class="navbar navbar-fixed-top" id="topbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="./index.html">CasperJS</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="installation.html">Install</a></li>
                        <li><a href="quickstart.html">Quickstart</a></li>
                        <li class="dropdown" id="api-menu">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#api-menu"
                                href="api.html">
                                <acronym title="Application Programming Interface">API</acronym>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="api.html#intro">Home</a></li>
                                <li class="divider"></li>
                                <li><a href="api.html#casper">Casper API</a></li>
                                <li><a href="api.html#client-utils">Client-side utils</a></li>
                                <li><a href="api.html#colorizer">Colorizer API</a></li>
                                <li><a href="api.html#tester">Tester API</a></li>
                                <li><a href="api.html#utils">Utils API</a></li>
                            </ul>
                        </li>
                        <li><a href="cli.html"><acronym title="Command Line Interface">CLI</acronym></a></li>
                        <li><a href="selectors.html">Selectors</a></li>
                        <li><a href="events-filters.html">Events</a></li>
                        <li><a href="logging.html">Logging</a></li>
                        <li><a href="extending.html">Extending</a></li>
                        <li><a href="testing.html">Testing</a></li>
                        <li><a href="debugging.html">Debugging</a></li>
                        <li><a href="faq.html"><acronym title="Frequently Asked Questions">FAQ</acronym></a></li>
                        <li><a href="https://groups.google.com/forum/#!forum/casperjs">Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="overview">
        <div class="content"></div>
        <footer>
            <hr>
            <p>
                © 2011-{{year}} <a href="https://nicolas.perriault.net/">Nicolas Perriault</a> — get
                the source code on GitHub: <a href="http://github.com/n1k0/casperjs">n1k0/casperjs</a> —
                logo by <a href="http://www.forveillejeremy.com/">Jeremy Forveille</a> -
                <a href="https://plus.google.com/106641872690063476159" rel="publisher">Google+</a>
            </p>
        </footer>
    </div>
    <script type="text/javascript" src="js/jquery.min.js?{{time}}"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js?{{time}}"></script>
    <script type="text/javascript" src="prettify/prettify.js?{{time}}"></script>
    <script type="text/javascript" src="js/application.js?{{time}}"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script type="text/javascript">
    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
    </script>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-71239-7']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
</body>
</html>
